.cart__wrapper {
  position: absolute;
  min-width: 300px;
  top: 60px;
  right: 20px;
  border-radius: 12px;
  background-color: white;
  border: 1px solid gray;
  padding: 10px;
  z-index: 10;
}

.cart__innerWrapper {
  height: max-content;
  max-height: 50vh;
  overflow-y: auto;
  text-align: center;
}

.Cart__cartTotal {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.fa-times-circle {
  color: gray;
  transition: transform 0.2s linear;
}

.fa-times-circle:hover {
  transform: rotate(90deg);
}

.ul-items {
  display: block;
}

.CartItem__item {
  display: flex;
  max-width: 400px;
  align-items: center;
  align-content: center;
}

.item-cart-photo {
  width: 100px;
  height: 100px;
}

.item-cart-title {
  margin: 0;
  padding: 0;
  height: 50px;
  text-align: left;
}

.finish-order {
  color: black;
  height: 30px;
  text-align: center;
  text-decoration: underline;
}

.finish-order::after {
  content: ' ->';
}

.cart-items-align {
  display: flex;
  max-width: 90%;
  text-align: center;
  align-items: center;
}

/* .cart-items{
  display: flex;
} */
.cart-box {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  justify-content: space-around;
  max-height: 130px;
}

.cart-title {
  height: 100%;
  padding: 10px;
  line-height: normal;
  width: 60%;
}
.total-cart{
  height: 100px;
}
.total-cart h2{
  height: 30px;
}
.cart-box{
  border-bottom: 1px solid #000;
}